.button-content {
  width: 100%;
  padding: 1.1rem;
  border: none;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.default {
  background-color: var(--kelley-green);
  color: white;
}

.secondary {
  background-color: white;
  color: var(-kelley-green);
}

.medium {
  height: 3.6rem;
}

.height {
  height: 4.8rem;
}

.small {
  height: 2.4rem;
}
